.background-image {
    background-image: url('images/9212299.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-height: 91.8vh;
}
